<div>
  <p>This is test component</p>
  <!-- <p>{{ title }}</p>
  <p>{{ getFullName() }}</p>

  <p [ngStyle]="{ color: 'red' }">тут використано ngStyle</p>
  <p [ngClass]="{ active: isActive, disabled: isDisabled }">
    Тут використано ngClass
  </p>
  <div class="event-example" [ngClass]="{ clicked: isClickedState }"></div>
  <button (click)="toggleState()">Click me</button>
  <input type="text" [(ngModel)]="inputText" />
  <p>{{ inputText }}</p> -->
  <p>{{ childMessage }}</p>
  <button (click)="sendMessageToParent()">Send message to parent</button>
</div>
